.form-control {
	width: 100%;
	display: block;
	color: #808080;
	height: 40px;
	background-color: #fff;
	background-image: none;
	border: 1px solid #e6e6e6;
	.box-shadow(none);

}

.form-control:focus {
	color: @color-blue;
	background-color: #fff;
	border-color: @color-blue;
}

.form-control.active,
.form-control:focus,
.form-control.focus,
.form-control:active,
.form-control.active {
	outline: none;
	color: @color-blue;
	background-color: #fff;
	border-color: @color-blue;
	.box-shadow(none);
}


/* Buttons */

.btn,
.btn:hover,
.btn:active,
.btn:focus {
	outline: none;
}

.btn-main {
	outline: none;
	color: #808080;
	background-color: #fff;
	border-color: #808080;
}

.btn-main:hover {
	outline: none;
	color: @color-blue;
	background-color: #fff;
	border-color: @color-blue;
}

.btn-main.active,
.btn-main:focus, .btn-main.focus,
.btn-main:active, .btn-main.active,
.open > .btn-main.dropdown-toggle {
	outline: none;
	color: @color-blue;
	background-color: #f0f0f0;
	border-color: #b7b7b7;
	.box-shadow(inset 0px 1px 1px 0px rgba(0, 0, 0, 0.4));
}

.btn-gray {
	color: #4b4b4b;
	padding: 9px 25px;
	background-color: #c6e1ef;
	border-color: #b6cfdc;
}

.btn-gray.disable {
	color: #4c4c4c;
	background-color: #f0f0f0;
	border-color: #dddddd;
}

.btn-gray:hover {
	color: #fff;
	background-color: #68b2d7;
	border-color: #60a4c6;
}

.btn-photo {
	width: 40px;
	padding: 5px;
	height: 40px;
	color: #cccccc;
	font-size: 20px;
	background: #fff;
	line-height: 30px;
	border: 1px solid #e6e6e6;
}

.btn-photo:hover {
	outline: none;
	color: @color-blue;
	border-color: @color-blue;
}

.btn-like {
	outline: none;
	width: 112px;
	height: 40px;
	display: block;
	overflow: hidden;
	line-height: 40px;
	position: relative;
	padding: 0 0 0 23px;
	background-size: 100%;
	background-color: #fff;
	background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgi…pZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
	background-image: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(0%, #e4edf2), color-stop(100%, #fafdff));
	background-image: -moz-linear-gradient(bottom, #e4edf2, #fafdff);
	background-image: -webkit-linear-gradient(bottom, #e4edf2, #fafdff);
	background-image: linear-gradient(to top, #e4edf2, #fafdff);
	border: none;
	color: #4d4d4d;
	font-size: 14px;
	font-weight: 400;
	font-style: normal;
	text-align: left;
	.border-radius(5px);
	.box-shadow(inset 0 0 0 1px #c6e1ef);

	span {
		top: 1px;
		right: 1px;
		bottom: 0px;
		width: 46px;
		height: 38px;
		color: #4c4c4c;
		font-size: 14px;
		font-weight: 700;
		text-align: right;
		line-height: 36px;
		position: absolute;
		padding: 0 14px 0 0;
		overflow: hidden;
		background-color: #ffffff;
		border-left: 1px solid #c6e1ef;

		-webkit-border-top-right-radius: 3px;
		-webkit-border-bottom-right-radius: 3px;
		-moz-border-radius-topright: 3px;
		-moz-border-radius-bottomright: 3px;
		border-top-right-radius: 3px;
		border-bottom-right-radius: 3px;
	}

	i {
		top: 1px;
		right: 1px;
		bottom: 0;
		width: 46px;
		height: 38px;
		position: absolute;
	}

	i:before {
		content: '';
		position: absolute;
		left: 0px;
		top: 11px;
		width: 0;
		height: 0;
		border-top: 8px solid transparent;
		border-left: 8px solid #c6e1ef;
		border-bottom: 8px solid transparent;
	}

	i:after {
		content: '';
		position: absolute;
		left: -1px;
		top: 12px;
		z-index: 50;
		width: 0;
		height: 0;
		border-top: 7px solid transparent;
		border-left: 7px solid #eff6f9;
		border-bottom: 7px solid transparent;
	}
}

.btn-like:hover {
	outline: none;
	background: #fff;

	i:after {
		border-left: 7px solid #fff;
	}
}

.btn-like:focus {
	outline: none;
}

.btn-like:active {
	color: #fff;
	outline: none;
	background: #3d9ccc;

	i:after {
		border-left: 7px solid #3d9ccc;
	}
}

.btn-green {
	color: #33ab47;
	font-size: 16px;
	padding: 8px 20px;
	border: 1px solid #49b85c;

	i {
		margin-right: 4px;
	}
}

.btn-green:hover {
	color: #fff;
	background: #33ab47;
}

.btn-green.invert {
	color: #fff;
	background: #33ab47;
}

.btn-green.invert:hover {
	color: #33ab47;
	background: #fff;
	border: 1px solid #49b85c;
}