@import url(http://fonts.googleapis.com/css?family=Roboto:400,500,700,300);
@font-roboto : 'Roboto', Arial sans-serif;
@color-blue : #2383b3;

.box-shadow(@shadow) {
	-webkit-box-shadow: @shadow; // iOS <4.3 & Android <4.1
	-moz-box-shadow: @shadow;
	box-shadow: @shadow;
}


.border-radius( @radius: @default-border-radius ) {
	-webkit-border-radius: @arguments;
	-moz-border-radius: @arguments;
	border-radius: @arguments;
}

@import "sprites.less";
@import "form.less";
@import "header.less";
@import "pages/footer.less";
@import "pages/visualization.less";
@import "pages/graduates.less";

* {
	outline: none;
}

.wrapper {
	min-width: 1200px;
}


.container {
	width: 1650px;

	@media (min-width: 320px) {
		width: 1200px;
	}

	@media (min-width: 1005px) {
		width: 1200px;
	}

	@media (min-width: 1200px) {
		width: 1200px;
	}
}


.visual-content h1 {
	margin: 0;
	position: relative;
	padding: 50px 0 10px 0;
	font-family: @font-roboto;

	.icon-design-tv {
		width: 40px;
		height: 56px;
		margin-left: 15px;
		margin-bottom: -10px;
		display: inline-block;
		background: url("../img/sprites/desig-tv-icon.png") 0 0 no-repeat;
	}

	.strength {
		font-size: 12px;
		line-height: 12px;
		font-weight: normal;
		margin-left: 5px;
		display: inline-block;
	}
}

.filter {
	.selection {
		display: inline-block;
		width: 152px;
		margin-left: 48px;
	}

	.selection.open > a:before {
		content: '';
		display: inline-block;
		position: absolute;
		z-index: 1010;
		left: 50%;
		margin-left: -11px;
		bottom: -22px;
		width: 22px;
		height: 15px;
		border-left: none;
		border-right: none;
		border-bottom: none;
		background: url("../img/sprites/dropnav-arrow.png") 0 0 no-repeat;
	}
}


/* buttons */

