.arc-header {
	background: #3d9ccc;

	.icon-bg {
		padding: 38px 0 102px 0;
		background-image: url("../img/icon-bg.png");
		background-position: center -73px;
	}

	h1 {
		font-family: @font-roboto;
		color: #fff;
		font-size: 36px;
		font-weight: 700;
		line-height: 40px;
		text-align: center;
		margin: 0;
	}

	.top-block-text {
		font-family: @font-roboto;
		color: #fff;
		font-size: 20px;
		font-weight: 300;
		line-height: 35px;
		text-align: center;
		display: block;
		margin: 0;
	}


}

.arc-design {

	.top-block {
		color: #2383b3;

		.top-block-icon {
			top: -32px;
			left: 50%;
			width: 48px;
			height: 64px;
			margin-left: -24px;
			position: absolute;
		}

	}

	.offer {
		position: relative;
		margin: 0 96px;
		margin-bottom: 92px;

		h1 {
			font-family: @font-roboto;
			color: #4b4b4b;
			font-size: 28px;
			font-weight: 700;
			line-height: 36px;
			margin-bottom: 39px;
			text-align: center;
		}

		h2 {
			font-family: @font-roboto;
			color: #4b4b4b;
			font-size: 18px;
			font-weight: 700;
			line-height: 24px;
			margin-bottom: 11px;
		}

		p {
			color: #4b4b4b;
			font-size: 14px;
			font-weight: 400;
			line-height: 24px;
		}

		.item {
			word-break: break-all;
			padding: 0 140px 0 0;
			margin: 0 0 38px 286px;
		}

		.elipse {
			position: absolute;
			top: -11px;
			left: 100px;
			height: 573px;
			width: 199px;
			background: url('../img/sprites/illustration-arc.png') 0 0 no-repeat;

			i {
				display: block;
				position: absolute;
				&.rounded1 {

					top: 76px;
					left: 5px;
				}
				&.rounded2 {

					top: 236px;
					left: -44px;
				}
				&.rounded3 {

					top: 396px;
					left: -4px;
				}
			}
		}
	}

	.gray-block {
		margin-bottom: 30px;
	}

	.blue-green-block {
		width: 944px;
		z-index: 50;
		height: 184px;
		color: #fff;
		position: relative;
		margin: -10px auto 0 auto;
		.border-radius(0 0 5px 5px);
		border: 1px solid #e1ddd5;
		background: #3d9ccc; /* Old browsers */
		/* IE9 SVG, needs conditional override of 'filter' to 'none' */
		background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzNkOWNjYyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM0NGJkOTQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
		background: -moz-linear-gradient(top,  #3d9ccc 0%, #44bd94 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#3d9ccc), color-stop(100%,#44bd94)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top,  #3d9ccc 0%,#44bd94 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top,  #3d9ccc 0%,#44bd94 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top,  #3d9ccc 0%,#44bd94 100%); /* IE10+ */
		background: linear-gradient(to bottom,  #3d9ccc 0%,#44bd94 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3d9ccc', endColorstr='#44bd94',GradientType=0 ); /* IE6-8 */

		.inner {
			height: 100%;
			padding: 60px 100px 60px 230px;
			background: url("../img/sprites/icon-tel.png") 95px 50% no-repeat;
		}
	}

	.how-we-work {
		padding: 0;
		width: 1056px;
		height: 450px;
		list-style: none;
		position: relative;
		margin: 0 auto 70px auto;
		background: url("../img/how-we-work.png") 0 0 no-repeat;

		li {
			width: 200px;
			position: absolute;

			h4 {
				font-size: 14px;
				font-weight: bold;
			}

			p {
				color: #9a9a9a;
				font-size: 12px;
			}
		}

		li.item1 {
			left: 0;
			top: 115px;
		}
		li.item2 {
			top: 115px;
			left: 240px;
		}
		li.item3 {
			top: 115px;
			left: 480px;
		}
		li.item4 {
			top: 115px;
			left: 720px;
		}
		li.item5 {
			top: 115px;
			left: 960px;
		}
		li.item6 {
			top: 305px;
			left: 790px;
		}
		li.item7 {
			top: 390px;
			left: 790px;
		}
		li.item8 {
			top: 340px;
			left: 450px;
			font-style: italic;
			text-align: right;
		}
	}

	h2.double-title {

	}

	.preference {

		div {
			min-height: 70px;
			margin-bottom: 20px;
			padding: 10px 0 0 100px;
		}

		.item1 {
			background: url("../img/sprites/preference_item1.png") 0 0 no-repeat;
		}
		.item2 {
			background: url("../img/sprites/preference_item2.png") 0 0 no-repeat;
		}
		.item3 {
			background: url("../img/sprites/preference_item3.png") 0 0 no-repeat;
		}
		.item4 {
			background: url("../img/sprites/preference_item4.png") 0 0 no-repeat;
		}
		.item5 {
			background: url("../img/sprites/preference_item5.png") 0 0 no-repeat;
		}
		.item6 {
			background: url("../img/sprites/preference_item6.png") 0 0 no-repeat;
		}
		.item7 {
			background: url("../img/sprites/preference_item7.png") 0 0 no-repeat;
		}
		.item8 {
			background: url("../img/sprites/preference_item8.png") 0 0 no-repeat;
		}
		.item9 {
			background: url("../img/sprites/preference_item9.png") 0 0 no-repeat;
		}
	}

	.custom-price {
		width: 752px;
		overflow: hidden;
		.border-radius(6px);
		margin: 0 auto;
		border: 1px solid #a7cde1;

		.nav-custom-price {
			margin: 0;
			padding: 0;
			list-style: none;
			border-bottom: 1px solid #a7cde1;

			li {
				float: left;
				width: 250px;
				height: 102px;
				font-weight: 300;
				font-size: 16px;
				text-align: center;
				position: relative;
				font-family: @font-roboto;
				border-right: 1px solid #a7cde1;

				&:last-child {
					border-bottom: none;
				}

				&.item1 {
					background: #f2f8fc url("../img/sprites/icon-custom-price1.png") center 18px no-repeat;
				}
				&.item1.active {
					background: #fff url("../img/sprites/icon-custom-price1-active.png") center 18px no-repeat;
				}

				&.item2 {
					background: #f2f8fc url("../img/sprites/icon-custom-price2.png") center 16px no-repeat;
				}
				&.item2.active {
					background: #fff url("../img/sprites/icon-custom-price2-hover.png") center 16px no-repeat;
				}

				&.item3 {
					background: #f2f8fc url("../img/sprites/icon-custom-price3.png") center 18px no-repeat;
				}
				&.item3.active {
					background: #fff url("../img/sprites/icon-custom-price3-hover.png") center 18px no-repeat;
				}

				&.active:before {
					content: '';
					display: block;
					position: absolute;
					z-index: 1010;
					left: 50%;
					margin-left: -14px;
					bottom: -12px;
					width: 28px;
					height: 12px;
					border-left: none;
					border-right: none;
					border-bottom: none;
					background: url("../img/sprites/price-nav.png") 0 0 no-repeat;
				}

				a {
					width: 100%;
					height: 100%;
					color: #999999;
					padding-top: 70px;
					text-decoration: none;
					display: inline-block;
				}
			}
		}

		.custom-price-tab {
			height: 390px;
			background: #fff;
			padding-top: 70px;
			padding-bottom: 60px;
			text-align: center;

			.price-round {
				width: 176px;
				height: 176px;
				color: #2383b3;
							font-weight: 300;
				text-align: center;
				margin: 0 auto 35px auto;
				font-family: @font-roboto;
				background: url("../img/sprites/price-round.png") 0 0 no-repeat;

				.price-round-item {
					font-size: 72px;
					padding-top: 35px;
					line-height: 80px;
					display: block;

					sup {
						display: inline-block;
						font-size: 24px;
						position: relative;
						top: -30px;
					}
				}

				.price-round-legend {
					display: block;
					color: #4b4b4b;
					font-size: 18px;
				}
			}
		}

		.choose {
			margin: 0;
			padding: 0;
			list-style: none;

			li {
				text-align: left;
				margin-bottom: 20px;
			}
		}
	}

	.custom-price-bottom {
		width: 756px;
		height: 309px;
		line-height: 1.7;
		text-align: center;
		padding: 80px 50px 0 50px;
		margin: 0 auto 60px auto;
		background: url("../img/sprites/custop-price-bottom.png") 0 0 no-repeat;

		h2 {
			color: #4c4c4c;
		}
	}

}