.facades-header {
	background: #eaf3f8;

	.icon-bg {
		padding: 38px 0 102px 0;
		background-image: url("../img/sprites/icon-bg-facades.png");
		background-position: center -73px;
	}
}

.facades-design {

	.top-block {
		color: #2383b3;

		.top-block-icon {
			top: -32px;
			left: 50%;
			width: 48px;
			height: 64px;
			margin-left: -24px;
			position: absolute;
		}

	}
}